{% extends 'partials/base.html'%}
{%block title%}Staff Page{%endblock%}
{% load crispy_forms_tags %}
{% block content% }
<!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Latest Updates</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="staff">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Staff <i class="fas fa-users"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="product">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Products <i class="fas fa-box"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="order">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> Profile Information</span>
                                <hr>
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{generators.username}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>{{generators.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td>{{generators.profile.phone}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>{{generators.profile.address}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{generators.profile.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


    <!--End Table-->
