{%extends 'partials/base.html'%}
{% block title %}Login Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row my-4">
                <div class="col-md-8">
                    <table class="table bg-white">
                        <thead class="bg-success">
                            <tr class="text-white">
        
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Date</th>
                                <th scope="col">Delivery Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {%for orders in orders %}
                            <tr>
                                <td>{{orders.name.name}}</td>
                                <td>{{orders.name.category}}</td>
                                <td>{{orders.order_quantity}}</td>
                                 <td>{{orders.date}}</td>

                                 {% if orders.status == "Pending" %}
                                 <td>
                                    <a href="{% url 'confirm-order' orders.id %}">
                                 <button type="button" class="btn btn-primary">Confirm Delivery</button>
                                 </a>
                                 </td>
                                 {% else %}
                                 <td>
                                 <button type="button" class="btn btn-success">Delivered</button>
                                 </td>
                                 {% endif %}
                                </tr>
                        {% endfor %}
        
                        </tbody>
                    </table>
        
                    <div class="text-center container mt-5">
                        {% if orders.has_previous %}
                        <a href="?page={{orders.previous_page_number}}"><button type="button" class="btn btn-light">previous</button></a>
                        {% endif %}
                      
                        <a><button type="button" class="btn btn-success">{{orders.number}}</button></a>
                      
                        {% if orders.has_next %}
                        <a href="?page={{ orders.next_page_number }}"><button type="button" class="btn btn-light">next</button></a>
                        {% endif %}
                      
                    </div>
                </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Personal Info
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4"> Profile Information</span> 
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{user.username}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>{{user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td>{{user.profile.phone}}</td>
                                        </tr>
                            
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>{{user.profile.address}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Location</th>
                                            <td>{{user.profile.location}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Building</th>
                                            <td>{{user.profile.building}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <a class="btn btn-info btn-sm float-right"
                                    href="{%url 'user-profile-update'%}">Edit</a>

                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{user.profile.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>




{% endblock %}
